* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('https://cdn.pixabay.com/photo/2017/09/06/11/41/clean-2721102_960_720.jpg');
  font-family: 'Jost', sans-serif;
  background-size: auto 100vw; /* preencher a tela sem esticar a imagem*/
  height:100vh;
  font-size: 12px;
}

/*deixando o site responsivo junto com o meta charset do html - se a tela tiver pelo menos 400 px vai carregar o que estiver aqui - chamado tbm de breakpoint*/
@media (min-width: 400px) { 
  body {
    font-size: 14px;
  }
  
}
@media (min-width: 600px) { 
  body {
    font-size: 16px;
  }
  .sobre .avatar img {
    height: 200px;
  }
  .sobre .avatar {
    float: right;
  }
}
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw; 
  top: 0;
  z-index: 1;
  }
.menu ul {
  display: flex;
  justify-content: space-around; 
  }
  
.menu li {
  list-style: none;
  }
.menu a { /*aumentando a area de click do menu*/
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
}  
.menu a:active
.menu a:hover {
  background-color: teal;
  color: whitesmoke; 
}
a {
  color: teal;
  text-decoration: none; 
  
}
a:hover {
  text-decoration: underline;
}

.titulo {
  opacity: 0;
  transform: scale(0.2);
  animation: ease 1s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  100% {
  opacity: 1;
  transform: scale(1);
  }
}

div {
  font-family: 'Caveat', cursive;
  color: #362A2A;
}

.site-title, 
.site-subtitle {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 4em; /*4x o tamanho do body*/
}

.site-subtitle {
  font-family: 'Jost', sans-serif;
}

.sobre,
.contato,
.portfolio {
  padding:2em;
  background-color: whitesmoke;
  min-height: 100vh;
}

@media (min-width: 1100px) {
.container,
.sobre,
.contato,
.portfolio {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: 'Jost', sans-serif;
  color: teal;
  margin-bottom:1em;  
  margin-top: 1em;
  text-align: center;
}

.sobre p {
  color: #362A2A;
  margin-bottom: 1em; /*espaço entre os paragrafos*/
  text-align: justify;
  text-indent: 1.5em; /*arrumando o inicio do paragrafo*/
}

.sobre .avatar {
  margin-left: 1.7em;
  text-align: center;
  
}

.sobre .avatar img {
  height: 350px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.portfolio .grid {
  /*grid que vc monta, o flex coloca tudo ao lado do outro*/
  display: grid; 
  gap: 2em; /*espaçamento*/
  
}

@media (min-width: 600px) {
  .portfolio .grid { 
    grid-template-columns: 260px 260px;
    justify-content: center;
  }
}

@media (min-width: 880px) {
  .portfolio .grid { 
    grid-template-columns: repeat(3,260px);
    align-content: center;
    height: calc(96vh - 6em - 48px);
  }
  .img-portfolio {
    width:300px;
    height:220px;
  }
}

.portfolio figure {
  text-align:center;
}

.img-portfolio {
  width:100%;
  height:160px;
  object-fit: cover; /*imagem cobre toda proporçao colocada sem distorcer*/
  object-position: center; /*para ver qual parte da imagem vai aparecer*/
  /*border-radius: 50%; se quiser arredondar*/
  transition: transform 0.7s;
}

/*.img-portfolio:hover {
  transform: scale(1.3);
}*/

.flip-card {
  height: 180px;
  perspective: 500px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flip-card:hover .card{
  transform: rotateY(180deg); /*rotaçao do card ao passar mouse em cima*/
}

.card-front,
.card-back {
  backface-visibility: hidden; /*p o card de tras nao aparecer*/
  position: absolute;
  left: 0;
  top: 0;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width:100%;
  height:160px;
  transform: rotateY(180deg); /*rotaçao do card*/
}

.contato a {
  color: #362A2A;
  font-size:3.2em;
  margin: 8px;
  padding: 2px;
  transition: text-shadow 0.7s;
}
.contato a:active, /*quando estiver no cel e clicar no icone*/
.contato a:hover {
  text-decoration: none;
  text-shadow: 0 0 10px rgba(107,96,96,0.5);
   
}

.contato .grid {
  text-align: center;
}


